!!!
%html
  %head
    %title ONC EHR Incentive Payouts Visualization by @Skram of Social Health Insights
    %link{:href => "http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.css", :rel => "stylesheet"}
    /[if lte IE 8] <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.ie.css" />
    %script{:src => "http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.js"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %link{:href => "/Leaflet.markercluster/MarkerCluster.css", :rel => "stylesheet"}
    %link{:href => "/Leaflet.markercluster/MarkerCluster.Default.css", :rel => "stylesheet"}
    /[if lte IE 8] <link rel="stylesheet" href="../dist/MarkerCluster.Default.ie.css" />
    %script{:src => "/Leaflet.markercluster/leaflet.markercluster-src.js"}
    %script{:src => "http://s3.amazonaws.com/mappyhealth-public/bootstrap/js/jquery.js"}
    %script{:src => "http://s3.amazonaws.com/mappyhealth-public/showLoading/jquery.showLoading.min.js"}
    %link{:href => "http://s3.amazonaws.com/mappyhealth-public/showLoading/showLoading.css", :rel => "stylesheet"}

    %style
      :plain
        #map {width: 100%; height: 600px; border: 1px solid #ccc;}
  %body
    #map
    :javascript
      $(document).ready(function() {
        var map;
        map = new L.Map('map', {
          layers: [new L.tileLayer('http://{s}.tile.cloudmade.com/{key}/999/256/{z}/{x}/{y}.png', {
            maxZoom: 18,
            attribution: '© 2013 <a target="_blank" href="http://cloudmade.com">CloudMade</a> - Map data <a target="_blank" href="http://creativecommons.org/licenses/by-sa/2.0/">CCBYSA</a> 2013 <a target="_blank" href="http://openstreetmap.org">OpenStreetMap.org</a> contributors - <a target="_blank" href="http://cloudmade.com/terms_conditions">Terms of Use</a>',
            key: 'ed5940a5e0724173aba9da0d77368912'
          })]
        });

        $("#map").showLoading();
        $.getJSON("#{@data_url}", function(data){
          var markers = new L.MarkerClusterGroup();
          var geoJsonLayer = L.geoJson(data, {
            onEachFeature: function (feature, layer) {
              props = feature.properties
              popup = ""
              popup += "<strong>" + props["PROVIDER - ORG NAME"]+"</strong>"
              popup += "<br />"+props["PROVIDER  ADDRESS"]
              popup += "<br />"+props["PROVIDER CITY"]+", " + props["PROVIDER STATE"] + " " + props["PROVIDER ZIP 5 CD"]
              popup += "<br /><br /> Phone: " + props["PROVIDER PHONE NUM"]
              popup += "<br /><br /> <a href=https://npiregistry.cms.hhs.gov/NPPESRegistry/NPIRegistryHome.do target=_blank>NPI</a>: " + props["PROVIDER NPI"] + " / <a href=http://www.qualitycheck.org/consumer/searchQCR.aspx target=_blank>CCN</a>: " + props["PROVIDER CCN"]

              layer.bindPopup(popup)
            }
          });
          markers.addLayer(geoJsonLayer);
          map.addLayer(markers);
          map.fitBounds(markers.getBounds());
          $("#map").hideLoading();
        })

      });
    %a{:href => "https://github.com/marks/ONC-EHR-Incentives-Program-Payout-Data"}
      %img{:alt => "Fork me on GitHub", :target => "_blank", :src => "https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png", :style => "position: absolute; top: 0; right: 0; border: 0;"}/

